BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
TabWidth: 2
UseTab: Never  

Language: Cpp
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentCaseLabels: true
AlignConsecutiveAssignments: true
FixNamespaceComments: true
